* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Poppins";
  src: url('../fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url('../fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url('../fonts/Poppins-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Pacifico";
  src: url("../fonts/Pacifico.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  /* Cores base */
  --cor-fundo: #21272a; /* CoolGray/90 */
  --cor-clara: #f2f4f8; /* CoolGray/10 */
  --cor-branca: #ffffff; /* Default/White */
  --cinza-100: #121619; /* CoolGray/100 */
  --cinza-80: #343a3f; /* CoolGray/80 */
  --cinza-70: #4d5358; /* CoolGray/70 */
  --cinza-50: #878d96; /* CoolGray/50 */
  --cinza-30: #c1c7cd;  /* CoolGray/30 */
  --gradiente-azul-vermelho: linear-gradient(to right, #ff0000, #0000ff); /* Gradiente */

  /* Transição */
  --tran-05: all 0.5s ease;
  --tran-03: all 0.3s ease;
  --tran-02: all 0.2s ease;

  /* Cores momentâneas */
  --primary-color: #0E4BF1;
  --panel-color: #FFF;
  --text-color: #000;
  --black-light-color: #707070;
  --border-color: #e6e5e5;
  --toggle-color: #DDD;
  --box1-color: #4DA3FF;
  --box2-color: #FFE6AC;
  --box3-color: #E7D1FC;
  --title-icon-color: #fff;
}
