* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pacifico";
  src: url("./fonts/Pacifico.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Variáveis globais */
:root {
  /* Cores base */
  --cor-fundo: #21272a;
  /* CoolGray/90 */
  --cor-clara: #f2f4f8;
  /* CoolGray/10 */
  --cor-branca: #ffffff;
  /* Default/White */

  /* Tons de cinza (CoolGray) */
  --cinza-100: #121619;
  /* CoolGray/100 */
  --cinza-80: #343a3f;
  /* CoolGray/80 */
  --cinza-70: #4d5358;
  /* CoolGray/70 */
  --cinza-50: #878d96;
  /* CoolGray/50 */
  --cinza-30: #c1c7cd;
  /* CoolGray/30 */

  /* Gradiente */
  --gradiente-azul-vermelho: linear-gradient(to right, #ff0000, #0000ff);
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Login - Inicio */
.body-login {
  background: linear-gradient(90deg, var(--cinza-100), var(--cinza-70), var(--cinza-30));
}

.icon {
  position: absolute;
  width: 1.5%;
}

/* Login - Fim */


/* Recuperar Senha - Inicio */
.body-recuperar-senha {
  background: var(--cor-fundo);
}

.recuperar-senha-container {
  padding: 2rem;
  max-width: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.recuperar-senha-card {
  background-color: var(--cinza-70);
  padding: 2rem;
  border-radius: 1rem;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: var(--cor-branca);
}

.recuperar-senha-card h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.input-group {
  position: relative;
  margin-bottom: 1rem;
}

.input-group input {
  width: 100%;
  padding: 0.75rem 2.5rem 0.75rem 0.75rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--cinza-30);
  font-size: 0.8rem;
  font-family: inherit;
  font-weight: 600;
  transition: box-shadow 0.3s ease-in-out;
}

.input-group input:focus {
  outline: none;
  border-color: transparent;
  box-shadow: 0 0 0 2px var(--cor-clara); 
}

.input-group input::placeholder {
  color: var(--cinza-50);
}

.input-group .icon {
  position: absolute;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  width: 7%;
  height: auto;
}

button {
  padding: 0.75rem;
  width: 100%;
  font-weight: 900;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s ease;

  background: var(--gradiente-azul-vermelho);
  color: var(--cinza-100);
  border: none;
  border-radius: 0.8rem;
  position: relative;
  z-index: 1;
}

button::before {
  content: '';
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
  right: 0.2rem;
  bottom: 0.2rem;
  background: var(--cor-clara); 
  border-radius: 0.8rem;
  z-index: -1;
}

button:hover {
  opacity: 0.95;
}
/* Recuperar Senha - Fim */

@media (max-width: 768px) {
  .container {
    padding: 1rem;
  }

  .card {
    width: 100%;
    padding: 1.5rem;
  }

  .input-group input {
    padding: 0.75rem;
    font-size: 1rem;
  }

  button {
    padding: 0.75rem;
    font-size: 1rem;
  }
}
