* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Poppins";
  src: url('./fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url('./fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url('./fonts/Poppins-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Pacifico";
  src: url("./fonts/Pacifico.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Variáveis globais */
:root {
  /* Cores base */
  --cor-fundo: #21272a;
  /* CoolGray/90 */
  --cor-clara: #f2f4f8;
  /* CoolGray/10 */
  --cor-branca: #ffffff;
  /* Default/White */

  /* Tons de cinza (CoolGray) */
  --cinza-100: #121619;
  /* CoolGray/100 */
  --cinza-80: #343a3f;
  /* CoolGray/80 */
  --cinza-70: #4d5358;
  /* CoolGray/70 */
  --cinza-50: #878d96;
  /* CoolGray/50 */
  --cinza-30: #c1c7cd;
  /* CoolGray/30 */

  /* Gradiente */
  --gradiente-azul-vermelho: linear-gradient(to right, #ff0000, #0000ff);
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


/* Auntenticação - Inicio */
.body-authpage {
  background: linear-gradient(90deg, var(--cinza-100), var(--cinza-70), var(--cinza-30));
}

.container {
  position: relative;
  width: 850px;
  height: 550px;
  background: var(--cor-fundo);
  border-radius: 30px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  margin: 20px;
  overflow: hidden;
}

.form-box {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  background: var(--cor-fundo);
  display: flex;
  align-items: center;
  color: var(--cor-branca);
  text-align: center;
  padding: 40px;
  z-index: 1;
  transition: .6s ease-in-out 1.2s, visibility 0s 1s;
}

.container.active .form-box  {
  right: 50%;
}

.form-box.cadastro {
  visibility: hidden;
}

.container.active .form-box.cadastro {
  visibility: visible;
}

form  {
  width: 100%;
}

.container h1 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 1.5rem;
}

.input-box {
  position: relative;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  padding: 0.75rem 2.5rem 0.75rem 0.75rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--cinza-30);
  font-size: 0.8rem;
  font-family: inherit;
  font-weight: 600;
  transition: box-shadow 0.3s ease-in-out;
}

.input-box input:focus {
  outline: none;
  border-color: transparent;
  box-shadow: 0 0 0 2px var(--cor-clara); 
}

.input-box input::placeholder {
  color: var(--cinza-50);
}

.input-box .icon {
  position: absolute;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  width: 7%;
  height: auto;
}

.forgot-link {
  margin: -15px 0 15px;
}

.forgot-link a {
  font-size: 14.5px;
  color: var(--cor-clara);
  text-decoration: none;
}

.forgot-link a:hover {
  text-decoration: underline;
  color: var(--cor-clara);
}

.toggle-box {
  position: absolute;
  width: 100%;
  height: 100%;
}

.toggle-box::before {
  content: '';
  position: absolute;
  left: -250%;
  width: 300%;
  height: 100%;
  background: #D9D9D9;
  border-radius: 150px;
  z-index: 2;
  transition: 1.8s ease-in-out;
}

.container.active .toggle-box::before {
  left: 50%;
} 

.toggle-panel {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transition: .6s ease-in-out;
}

.toggle-panel.toggle-left {
  left: 0;
  transition-delay: 1.2s;
}

.container.active .toggle-panel.toggle-left {
  left: -50%;
  transition-delay: .6s;
}

.toggle-panel.toggle-right {
  right: -50%;
  transition-delay: .6s;
}

.container.active .toggle-panel.toggle-right {
  right: 0;
  transition-delay: 1.2s;
}

.toggle-panel h1 {
  color: var(--cinza-100);
  margin-bottom: 5px;
}

.toggle-panel p {
  color: var(--cor-fundo);
  margin-bottom: 20px;
}

.toggle-panel .btn {
  width: 45%;
}
/* Auntenticação - Fim */


/* Recuperar Senha - Inicio */
.body-recuperar-senha {
  background: linear-gradient(90deg, var(--cinza-100), var(--cinza-70), var(--cinza-30));
}

.recuperar-senha-container {
  padding: 2rem;
  max-width: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.recuperar-senha-card {
  background-color: var(--cinza-70);
  padding: 2rem;
  border-radius: 1rem;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: var(--cor-branca);
}

.recuperar-senha-card h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.input-group {
  position: relative;
  margin-bottom: 1rem;
}

.input-group input {
  width: 100%;
  padding: 0.75rem 2.5rem 0.75rem 0.75rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--cinza-30);
  font-size: 0.8rem;
  font-family: inherit;
  font-weight: 600;
  transition: box-shadow 0.3s ease-in-out;
}

.input-group input:focus {
  outline: none;
  border-color: transparent;
  box-shadow: 0 0 0 2px var(--cor-clara); 
}

.input-group input::placeholder {
  color: var(--cinza-50);
}

.input-group .icon {
  position: absolute;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  width: 7%;
  height: auto;
}

.login-link {
  text-align: center;
  margin-top: 0.7rem;
}

.login-link a {
  font-size: 14.5px;
  color: var(--cor-clara);
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
  color: var(--cor-clara);
}
/* Recuperar Senha - Fim */


/* Botão - Inicio */
button {
  padding: 0.75rem;
  width: 100%;
  font-weight: 800;
  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;

  background: var(--gradiente-azul-vermelho);
  color: var(--cinza-100);
  border: none;
  border-radius: 0.8rem;
  position: relative;
  z-index: 1;
}

button::before {
  content: '';
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
  right: 0.2rem;
  bottom: 0.2rem;
  background: var(--cor-clara); 
  border-radius: 0.8rem;
  z-index: -1;
}

button:hover {
  opacity: 0.95;
}
/* Botão - Fim */


/* Responsividade - Inicio */

/* Auntenticação - Inicio */
@media screen and (max-width: 650px) {

  .container {
    height: calc(100vh - 40px);
  }

  .form-box {
    bottom: 0;
    width: 100%;
    height: 70%;
  }

  .container.active .form-box {
    right: 0;
    bottom: 30%;
  }

  .toggle-box::before {
    left: 0;
    top: -270%;
    width: 100%;
    height: 300%;
    border-radius: 20vw;
  }

  .container.active .toggle-box::before {
    left: 0;
    top: 70%;
  }

  .toggle-panel {
    width: 100%;
    height: 30%;
  }

  .toggle-panel.toggle-left {
    top: 0;
  }

  .container.active .toggle-panel.toggle-left {
    left: 0;
    top: -30%;
  }

  .toggle-panel.toggle-right {
    right: 0;
    bottom: -30%;
  }

  .container.active .toggle-panel.toggle-right {
    bottom: 0;
  }

}

@media screen and (max-width: 400px) {

  .form-box {
    padding: 20px;
  }

  .toggle-panel h1 {
    font-size: 30px;
  }

}
/* Auntenticação - Fim */


/* Recuperar Senha - Inicio */
@media (max-width: 768px) {
  
  .card {
    width: 100%;
    padding: 1.5rem;
  }

  .input-group input {
    padding: 0.75rem;
    font-size: 1rem;
  }

  button {
    padding: 0.75rem;
    font-size: 1rem;
  }
}
/* Recuperar Senha - Inicio */

/* Responsividade - Fim */